.overall-chat-container {
  position: fixed;
  width: 400px;
  height: 400px;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-header {
  color: white;
  background-color: #3555F9;
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: 400;
}

/* .chat-header:hover {
  background-color: #b1bac5;

} */


.chat-tabs {
  display: flex;
  width: 100%;
}

.users-chat-tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.users-chat-tab h4 {
  margin: 0;
  font-weight: 500;
  color: #555;
}

.users-chat-tab.active-tab {
  border-bottom: 2px solid #007bff; 
}

.users-chat-tab.active-tab h4 {
  color: #007bff; 
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.user-chat-item {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.user-chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user-chat-fullname {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.user-chat-username {
  font-size: 12px;
  font-weight: 300;
  color: rgb(173, 173, 173);
  margin: 0;
}
